body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.canvasContainer {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}

#cursorContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#clock {
  position: absolute;
  top: 0;
}

#cursorText {
  background-color: rgba(176, 199, 255, 0.81);
  border-radius: 6px;
  padding: 12px;
  color: black;
  font-size: 72px;
  word-break: break-word;
  margin: 1em;
}

#cursorLine {
  height: 1px;
  width: 100%;
  background-color: black;
  position: absolute;
}
/* 
#scrollContainer {
  background-color: rgb(127, 255, 212);
} */

#marksContainer {
  position: relative;
  width: 100%;
}

#marksContainer > div {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#marksContainer div.name {
  font-size: 64px;
  width: 40%;
}

#marksContainer div.symbol {
  font-size: 32px;
  font-style: italic;
  width: 10%;
}

#marksContainer div.desc {
  font-size: 32px;
  width: 30%;
  text-align: right;
}

#marksContainer div.val {
  font-size: 32px;
  width: 20%;
}
